<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Book Discussion</h1>
    <a href="/books/create">
      <button type="button" name="button">Add a new book</button>
    </a>
  </header>
  <div class="container">
    <div class="row">
      <% for(let i = 0; i < books.length; i++) { %>
        <div class="col-md-6 col-sm-12 item-container">
          <div class="content">
            <p class="item-title">
              <%= books[i].title %>
            </p>
            <div class="item-body">
              <img src="<%= books[i].img_url %>" alt="broken image link" style="height: 150px; width: 150x">
              <p class="item-content">
                <%= books[i].description %>
              </p>
            </div>
            <a class="discussBtn" href="/books/<%= books[i].id %>/comment" style=" margin-top: 20px">
              <button type="button" name="button">Discuss</button>
            </a>
          </div>
        </div>
        <% } %>
    </div>
  </div>
</body>

</html>
